.divs {
  height: 50px;
  width: 50px;
  background-color: black;
  margin: 1px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divContainer {
  display: flex;
  flex-wrap: wrap;
}
